@page
@model CCTV_App.Pages.Player.CCTVModel
@{
    
    string date = DateTime.Now.ToString("dddd, dd MMMM yyyy");

}
<div class="azure-content">
    <div class="content-nav">
        <div class="c-left">
            <img src="/img/firstbank3.png" alt="FCMB Logo">
            <p><b>@date</b></p>
            <p>
                <b id="txt">

                </b>
            </p>
        </div>

    </div>
    <div class="video-content one">

        <div class="feeds text-center">
            <a href="/Player/videos/?SearchString=Account Open Office" class="abj">
                <img src="/img/folder.png" width="80" height="80">
            </a>
            <p style="font-size:10px;">Account Open Office</p>

        </div>
        <div class="feeds text-center">
            <a href="/Player/videos/?SearchString=Admin Open Office" class="abj">
                <img src="/img/folder.png" width="80" height="80">
            </a>
            <p style="font-size:10px;">Admin Open Office</p>

        </div>
        <div class="feeds text-center">
            <a href="/Player/videos/?SearchString=Audit Open Office" class="abj">
                <img src="/img/folder.png" width="80" height="80">
            </a>
            <p style="font-size:10px;">Audit Open Office</p>

        </div>
        <div class="feeds text-center">
            <a href="/Player/videos/?SearchString=Barbara's Office" class="abj">
                <img src="/img/folder.png" width="80" height="80">
            </a>
            <p style="font-size:10px;">Barbara's Office</p>

        </div>
        <div class="feeds text-center">
            <a href="/Player/videos/?SearchString=Blk A Entrance" class="abj">
                <img src="/img/folder.png" width="80" height="80">
            </a>
            <p style="font-size:10px;">Blk A Entrance</p>

        </div>
        <div class="feeds text-center">
            <a href="/Player/videos/?SearchString=Cafeteria" class="abj">
                <img src="/img/folder.png" width="80" height="80">
            </a>
            <p style="font-size:10px;">Cafeteria</p>

        </div>
        <div class="feeds text-center">
            <a href="/Player/videos/?SearchString=Canteen" class="abj">
                <img src="/img/folder.png" width="80" height="80">
            </a>
            <p style="font-size:10px;">Canteen</p>

        </div>
        <div class="feeds text-center">
            <a href="/Player/videos/?SearchString=Car Park" class="abj">
                <img src="/img/folder.png" width="80" height="80">
            </a>
            <p style="font-size:10px;">Car Park</p>

        </div>
        <div class="feeds text-center">
            <a href="/Player/videos/?SearchString=Dealer's Open Office" class="abj">
                <img src="/img/folder.png" width="80" height="80">
            </a>
            <p style="font-size:10px;">Dealer's Open Office</p>

        </div>
        <div class="feeds text-center">
            <a href="/Player/videos/?SearchString=Fuel Dump" class="abj">
                <img src="/img/folder.png" width="80" height="80">
            </a>
            <p style="font-size:10px;">Fuel Dump</p>

        </div>
        <div class="feeds text-center">
            <a href="/Player/videos/?SearchString=H.O.D Audit" class="abj">
                <img src="/img/folder.png" width="80" height="80">
            </a>
            <p style="font-size:10px;">H.O.D Audit</p>

        </div>
        <div class="feeds text-center">
            <a href="/Player/videos/?SearchString=H.O.D Service" class="abj">
                <img src="/img/folder.png" width="80" height="80">
            </a>
            <p style="font-size:10px;">H.O.D Service</p>

        </div>
        <div class="feeds text-center">
            <a href="/Player/videos/?SearchString=IT Open Office" class="abj">
                <img src="/img/folder.png" width="80" height="80">
            </a>
            <p style="font-size:10px;">IT Open Office</p>

        </div>
        <div class="feeds text-center">
            <a href="/Player/videos/?SearchString=Logistics Open Office" class="abj">
                <img src="/img/folder.png" width="80" height="80">
            </a>
            <p style="font-size:10px;">Logistics Open Office</p>

        </div>
        <div class="feeds text-center">
            <a href="/Player/videos/?SearchString=Main Gate Entrance" class="abj">
                <img src="/img/folder.png" width="80" height="80">
            </a>
            <p style="font-size:10px;">Main Gate Entrance</p>

        </div>
        <div class="feeds text-center">
            <a href="/Player/videos/?SearchString=Marketing Open Office" class="abj">
                <img src="/img/folder.png" width="80" height="80">
            </a>
            <p style="font-size:10px;">Marketing Open Office</p>

        </div>
        <div class="feeds text-center">
            <a href="/Player/videos/?SearchString=Parts Office GF" class="abj">
                <img src="/img/folder.png" width="80" height="80">
            </a>
            <p style="font-size:10px;">Parts Office GF</p>

        </div>
        <div class="feeds text-center">
            <a href="/Player/videos/?SearchString=Parts Open Office F. Floor" class="abj">
                <img src="/img/folder.png" width="80" height="80">
            </a>
            <p style="font-size:10px;">Parts Open Office F. Floor</p>

        </div>
        <div class="feeds text-center">
            <a href="/Player/videos/?SearchString=Reception 1st fr" class="abj">
                <img src="/img/folder.png" width="80" height="80">
            </a>
            <p style="font-size:10px;">Reception 1st fr</p>

        </div>
        <div class="feeds text-center">
            <a href="/Player/videos/?SearchString=Reception Area" class="abj">
                <img src="/img/folder.png" width="80" height="80">
            </a>
            <p style="font-size:10px;">Reception Area</p>

        </div>
        <div class="feeds text-center">
            <a href="/Player/videos/?SearchString=Security Office" class="abj">
                <img src="/img/folder.png" width="80" height="80">
            </a>
            <p style="font-size:10px;">Security Office</p>

        </div>
        <div class="feeds text-center">
            <a href="/Player/videos/?SearchString=Service Office" class="abj">
                <img src="/img/folder.png" width="80" height="80">
            </a>
            <p style="font-size:10px;">Service Office</p>

        </div>


    </div>
</div>
