@page
@model CCTV_App.Pages.SignOutModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignOut</title>
</head>
<body>
</body>
</html>
